<div class="container py-4">
    <header class="pb-3 mb-5 border-bottom border-dark">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="./assets/img/presupuesto.svg" alt="logo gastos" width="40" class="me-2">
        <span class="fs-4 fw-bold">GASTOS</span>
      </a>
    </header>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light rounded-3">
            <app-gasto></app-gasto>
        </div>
      </div>
      <div class="col-md-6 mt-5 mt-md-0">
        <div class="h-100 p-5 bg-light rounded-3">
            <app-lista-gastos></app-lista-gastos>
        </div>
      </div>
    </div>
  </div>