<div class="row">
    <div class="col-6">
        <div class="alert alert-primary text-center" role="alert">
           <p class="m-0 fs-5">Presupuesto: <span class="fw-bold">$1,000</span></p>
        </div>
    </div>
    <div class="col-6">
        <div class="alert alert-success text-center" role="alert">
            <p class="m-0 fs-5">Restante: <span class="fw-bold">$1,000</span></p>
        </div>
    </div>
</div>
<div class="row">
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light d-flex justify-content-between align-items-end">
            <p class="m-0">Cursos</p>
            <span class="badge bg-primary rounded-pill">$104</span>
        </li>
        <li class="list-group-item bg-light d-flex justify-content-between align-items-end">
            <p class="m-0">Cursos</p>
            <span class="badge bg-primary rounded-pill">$100</span>
        </li>
        <li class="list-group-item bg-light d-flex justify-content-between align-items-end">
            <p class="m-0">Cursos</p>
            <span class="badge bg-primary rounded-pill">$14</span>
        </li>
        <li class="list-group-item bg-light d-flex justify-content-between align-items-end">
            <p class="m-0">Cursos</p>
            <span class="badge bg-primary rounded-pill">$34</span>
        </li>
        <li class="list-group-item bg-light d-flex justify-content-between align-items-end">
            <p class="m-0">Cursos</p>
            <span class="badge bg-primary rounded-pill">$41</span>
        </li>
      </ul>
</div>